/* author: gabe farrell */
/* this file gives all image with the letter class the correct bg img */
.a{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/a.png');
}
.b{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/b.png');
}
.c{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/c.png');
}
.d{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/d.png');
}
.e{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/e.png');
}
.f{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/f.png');
}
.g{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/g.png');
}
.h{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/h.png');
}
.i{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/i.png');
}
.j{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/j.png');
}
.k{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/k.png');
}
.l{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/l.png');
}
.m{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/m.png');
}
.n{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/n.png');
}
.o{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/o.png');
}
.p{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/p.png');
}
.q{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/q.png');
}
.r{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/r.png');
}
.s{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/s.png');
}
.t{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/t.png');
}
.u{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/u.png');
}
.v{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/v.png');
}
.w{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/w.png');
}
.x{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/x.png');
}
.y{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/y.png');
}
.z{
    background-image: url('https://mnrva-dev.github.io/gui1-hw5/assets/tiles/z.png');
}
